
Katie's Edu Files/.idea/workspace.xml
Katie's Edu Files/.idea/vcs.xml
Katie's Edu Files/.idea/modules.xml
Katie's Edu Files/.idea/misc.xml
Katie's Edu Files/.idea/inspectionProfiles/Project_Default.xml
Katie's Edu Files/.idea/dictionaries/davidrocker.xml
Katie's Edu Files/.idea/copyright/profiles_settings.xml
Katie's Edu Files/.idea/compiler.xml
Katie's Edu Files/Katie's Edu Files.iml
